<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@Page.FullTitle</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.0/css/bulma.min.css" integrity="sha512-ADrqa2PY1TZtb/MoLZIZu/Z/LlPaWQeDMBV73EMwjGam43/JJ5fqW38Rq8LJOVGCDfrJeOMS3Q/wRUVzW5DkjQ==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-extensions@6.2.7/dist/css/bulma-extensions.min.css" integrity="sha256-RuPsE2zPsNWVhhvpOcFlMaZ1JrOYp2uxbFmOLBYtidc=" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.21.0/themes/prism.min.css" integrity="sha512-tN7Ec6zAFaVSG3TpNAKtk4DOHNpSwKHxxrsiw4GHKESGPs5njn/0sMCUMl2svV4wo4BK/rCP7juYz+zx+l6oeQ==" crossorigin="anonymous" />

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" asp-area="" asp-controller="Uploader" asp-action="Index">
                <img src="~/images/logo.jpg" width="270" height="28" asp-append-version="true">
            </a>
            <div class="navbar-item">
                <div class="buttons">
                    <a class="button is-light" id="config_button" asp-controller="AppSettings" asp-action="Index">App 一覧設定</a>
                    <a class="button is-light" id="logout_button" asp-controller="EasyCookieAuth" asp-action="Logout">ログアウト</a>
                </div>
            </div>
        </div>
    </nav>

    <div class="container is-fluid">
        <p>　</p>
        @RenderBody()
        <p>　</p>
        <hr />
        <p>@Page.SiteName | <a href="https://github.com/IPA-CyberLab/IPA-DN-FileCenter">オープンソース GitHub ソースコード</a> | <a href="https://github.com/IPA-CyberLab/IPA-DN-FileCenter/blob/master/LICENSE">使用条件</a><br>Copyright &copy; @DateTime.Now.Year.ToString() IPA 産業サイバーセキュリティセンター サイバー技術研究室. All rights reserved.</p>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bulma-extensions@6.2.7/dist/js/bulma-extensions.js" integrity="sha256-02UMNoxzmxWzx36g1Y4tr93G0oHuz+khCNMBbilTBAg=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/buefy@0.8.20/dist/buefy.js" integrity="sha256-Qt8sBKfIqJpkLiU5TSbRkU/dpr5sarUS2HOTz1uOuzs=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/buefy/0.8.20/buefy.min.js" integrity="sha512-e5so+FlfbHyvq/BXXb77X68DGhSqfX7HoogeeMFejSF79uiIZRruKp3I/BIpo7ubWQ3XBPyhM385Upm3gU4xrw==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.js" integrity="sha512-VGxuOMLdTe8EmBucQ5vYNoYDTGijqUsStF6eM7P3vA/cM1pqOwSBv/uxw94PhhJJn795NlOeKBkECQZ1gIzp6A==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.19/lodash.js" integrity="sha512-ZthgzPjVSy9Fx5HgJkt0gVLjQIsU4f+l+5+4nyfz0VMi0VldrP9ssa5HcsySB5fkpOnd3QgA+JbApFYCs/9w3Q==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js" integrity="sha512-rmZcZsyhe0/MAjquhTgiUcb4d9knaFc7b5xAfju483gbEXTkeJRUMIPk6s3ySZMYUHEcjKbjLjyddGWMrNEvZg==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.21.0/prism.min.js" integrity="sha512-WkVkkoB31AoI9DAk6SEEEyacH9etQXKUov4JRRuM1Y681VsTq7jYgrRw06cbP6Io7kPsKx+tLFpH/HXZSZ2YEQ==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.21.0/components/prism-json.min.js" integrity="sha512-IC7rV8RslChgByOdUFC6ePqOGn+OwJhnKC3S5AezM8DAiOdGhJMwgsIvBChsa2yuxxoPbH2+W/kjNUM1cc+jUQ==" crossorigin="anonymous"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)


</body>
</html>
